<div class="page-header">
  <h1>Showing Person <%= @person.name %></h1>
</div>

<h2>Organizations</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead
  <tbody>

    <div class="well">
      <% @person.organizations.each do |organization| %>
      <%= organization.name %>
      <% end %>
    </div>

  </tbody>
</table>
