<div class="page-header">
  <h1>Showing Person <%= @person.name %></h1>
</div>

<h2>Organizations</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <div class="well">
      Replace me with a list of organization names that this person is connected to,
      via employments.
    </div>
  </tbody>
</table>
